<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Correo de soporte</title>
  </head>
  <body>
    <h2>Nueva solicitud de soporte </h2>
    <hr>

    <p><b>Asunto:</b> {{ subject }}</p>

    <p><b>Mensaje:</b> {{ message }}</p>

    <h2>Datos del usuario</h2>
    <hr>

    <p><b>Nombre:</b> {{ user_full_name }}</p>
    <p><b>Email:</b> {{ user_email }}</p>
    <p><b>Compañia:</b> {{ company|default:"{sin registrar}"}}</p>
    <p><b>Profesión:</b> {{ profession|default:"{sin registrar}"}}</p>
    <p><b>Télefono:</b> {{ phone|default:"{sin registrar}"}}</p>

    <hr>

    <p>Enviado desde la sección de soporte del sitio.</p>
    
  </body>
</html>
