/* Estilos modernos y minimalistas */
body {
    background-color: #1e1e1e;
    font-family: 'Inter', sans-serif;
}

.login-container {
    max-width: 400px;
    margin: 10vh auto;
    padding: 2.5rem;
    background-color: #000000;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

.login-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
}

.login-form .form-group {
    margin-bottom: 1.5rem;
    width: 92%;
}



.login-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.login-form input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #dcdfe6;
    border-radius: 10px;
    background-color: #f9fafb;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #3b82f6;
    outline: none;
    background-color: #fff;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 0.5rem;
    background-color: #3b82f6;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #2563eb;
}