{% extends "base.html" %}
{% load static %}

{% block title %}Cursos{% endblock title %}

{% block custom_styles %}
  <link rel="stylesheet" href='{% static "css/styles.css" %}'>
{% endblock custom_styles %}

{% block content %}

  <div class="layout">

    {% comment %} Sidebar {% endcomment %}
    {% include "includes/sidebar.html" %}

    <!-- Main content -->
    <div class="main-content">

      {% comment %} Header {% endcomment %}
      {% include "includes/header.html" %}

      <!-- Aquí va el contenido de la página -->
      <main>
        <!-- === COURSE CARDS === -->

        <div class="carousel-wrapper">
          <div class="filter-buttons">
            <a href="?filter=all{% if query %}&q={{query}}{% endif %}"
              class="{% if filter_type == 'all' %}active{% endif %}">
              Todos
            </a>
            <a href="?filter=enrolled{% if query %}&q={{query}}{% endif %}"
              class="{% if filter_type == 'enrolled' %}active{% endif %}">
              Inscritos
            </a>
            <a href="?filter=not_enrolled{% if query %}&q={{query}}{% endif %}"
              class="{% if filter_type == 'not_enrolled' %}active{% endif %}">
              No inscritos
            </a>
          </div>
          <div class="course-grid">

            {% for course in courses %}

              <div class="course-card">
                <a href="{% url 'student:course_detail' slug=course.slug %}">
                  <img src="{{ course.image }}" alt="Course Image" class="course-img" />
                  <div class="course-info">
                    <div class="course-rating">
                      <span class="tag beginner">{{ course.level }}</span>
                      <div class="course-meta">
                        <span><i class="fa-solid fa-star"></i> {{ course.rating }}</span>
                      </div>
                    </div>

                    <h3 class="course-title">{{ course.title }}</h3>
                    <div class="author">
                      <div class="course-profile-photo">
                        <img src="{{ course.owner.profile.photo_url }}" alt="{{ course.owner.get_full_name }}">        
                      </div>
                      <span>{{ course.owner.get_full_name }}</span>
                    </div>
                  </div>

                </a>
              </div>

            {% endfor %}

          </div>

          <div class="paginator">


            {% if page_obj.has_previous %}

              <a class="page-btn" href="?page=1&{{query_string}}">Primera</a>
              <a class="page-btn" href="?page={{page_obj.previous_page_number}}&{{query_string}}">Anterior</a>
            
            {% else %}

              <span class="page-btn disabled" aria-disabled="true">Primera</span>
              <span class="page-btn disabled" aria-disabled="true">Anterior</span>
              
            {% endif %}
              
              <span class="page-info">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
              
            {% if page_obj.has_next %}
            
              <a class="page-btn" href="?page={{page_obj.next_page_number}}&{{query_string}}">Siguiente</a>
              <a class="page-btn" href="?page={{page_obj.paginator.num_pages}}&{{query_string}}">Ultima</a>

            {% else %}

              <span class="page-btn disabled" aria-disabled="true">Siguiente</span>
              <span class="page-btn disabled" aria-disabled="true">Ultima</span>

            {% endif %}

          </div>

        </div>

      </main>
    </div>
  </div>

{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}
