<div class="header">
  <div>
    <button class="menu-toggle" id="menuToggle">☰</button>
  </div>

  <h2>Administrador del Instructor</h2>

  <div class="header-right">
    <div class="avatar">

      {% if request.user.photo and request.user.is_authenticated %}
        <img src="{{ request.user.photo.url }}" alt="Foto de perfil de {{ user.get_full_name }}">              
      {% else %}
        <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg" alt="Foto de perfil">
      {% endif %}
            
    </div>
  </div>
</div>