{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block custom_styles %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% if layout_type == "instructor" %}
    <link rel="stylesheet" href="{% static 'css/instructor_styles.css' %}">
  {% endif %}
{% endblock custom_styles %}

{% block content %}

  <div class="layout">

    {% if layout_type == "instructor" %}
      {% include "includes/sidebar_instructor.html" %}
    {% else %}
      {% include "includes/sidebar.html" %}
    {% endif %}

    <div class="main-content">

      {% if layout_type == "instructor" %}
        {% include "includes/header_instructor.html" %}
      {% else %}
        {% include "includes/header.html" %}
      {% endif %}

      <!-- Aquí va el contenido de la página -->
      <main>

        {% if messages %}
          <div class="messages">
            
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}">
                {{ message }}
              </div>
            {% endfor %}
              
          </div>
        {% endif %}

        <div class="profile-container">
          
          <div class="profile-picture">              
            <img src="{{ profile_picture }}" alt="Foto de perfil">              
            <label for="fileUpload">Cargar nueva imagen</label>
            {{ form.photo }}
          </div>

          <form id="profileForm" class="profile-form" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            
            <h2>Editar perfil</h2>

            <div class="input-group">
              {{ form.email.label_tag }}
              {{ form.email }}
            </div>

            <div class="input-row">
              <div class="input-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
              </div>
              <div class="input-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
              </div>
            </div>

            <div class="input-group">
              {{ form.company.label_tag }}
              {{ form.company }}
            </div>

            <div class="input-group">
              {{ form.profession.label_tag }}
              {{ form.profession }}
            </div>
            
            <div class="input-group">
              {{ form.timezone.label_tag }}
              {{ form.timezone }}
            </div>

            <button type="submit" class="submit-btn">Guardar cambios</button>
          </form>
        </div>
      </main>
    </div>

  </div>

{% endblock content %}

{% block scripts %}
  <script src="{% static "js/script.js" %}"></script>
{% endblock scripts %}