{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar Contenido{% endblock title %}

{% block custom_styles %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/instructor_styles.css' %}">
{% endblock custom_styles %}

{% block content %}

  <div class="layout">
    {% include "includes/sidebar_instructor.html" %}
    <div class="main-content">
      {% include "includes/header_instructor.html" %}

      <main>

        <h2 class="form-title">¿Seguro que deseas eliminar este contenido: {{ content.item.title }}?</h2>        
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        </form>
        <a class="btn-cancel" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>

      </main>

    </div>

  </div>

{% endblock content %}