{% extends "base.html" %}
{% load static %}

{% block title %}Contenidos del módulo: {{ module.title }}{% endblock title %}

{% block custom_styles %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/instructor_styles.css' %}">
{% endblock custom_styles %}

{% block content %}

  <div class="layout">
    {% include "includes/sidebar_instructor.html" %}
    <div class="main-content">
      {% include "includes/header_instructor.html" %}

      <main>

        <h2 class="form-title">Contenidos del módulo: {{ module.title }}</h2>

        <h3 class="add-new-course">Agregar nuevo contenido</h3>
        <div class="add-new-course gap">
          <a href="{% url 'instructor:content_create' module_id=module.id model_name='text' %}" class="button">Texto</a>
          <a href="{% url 'instructor:content_create' module_id=module.id model_name='image' %}" class="button">Imagen</a>
          <a href="{% url 'instructor:content_create' module_id=module.id model_name='file' %}" class="button">Archivo</a>
          <a href="{% url 'instructor:content_create' module_id=module.id model_name='video' %}" class="button">Video</a>
        </div>

        <ul class="drag-list" id="dd-list" data-url="{% url 'instructor:content_order' %}" data-csrf="{{ csrf_token }}" data-module-id="{{ module.id}}">

          {% for content in contents %}

            <li class="drag-item flex-drag-item" data-id='{{content.id}}'>
              <header>
                <strong>
                  {% if content.content_type.model == "video" %}
                    <i class="fa-solid fa-video"></i>
                  {% elif content.content_type.model == "file" %}
                    <i class="fa-solid fa-file"></i>
                  {% elif content.content_type.model == "text" %}
                    <i class="fa-solid fa-align-left"></i>
                  {% elif content.content_type.model == "image" %}
                    <i class="fa-solid fa-image"></i>
                  {% endif %}
                  {{ content.item.title }}
                </strong> <em>{{ content.content_type.model }}</em>
                <div class="actions">
                  <a href="{% url 'instructor:content_create' module_id=module.id model_name=content.content_type.model id=content.item.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                  <a href="{% url 'instructor:content_delete' pk=content.id %}"><i class="fa-solid fa-trash"></i></a>
                </div>
              </header>
              <section>
                {% if content.content_type.model == "file" %}
                  <i class="fa-solid fa-download"></i>
                {% elif content.content_type.model == "text" %}
                  <p>{{ content.item.content }}</p>
                {% elif content.content_type.model == "image" %}
                  <img src="{{ content.item.file.url }}" alt="Imagen de: {{ content.item.title }}">
                {% elif content.content_type.model == "video" %}
                  <video src="{{ content.item.file.url }}" autoplay loop muted playsinline></video>
                {% endif %}
              </section>
            </li>

          {% empty %}

            <li>No hay contenido aún.</li>

          {% endfor %}

        </ul>

      </main>

    </div>

  </div>

{% endblock content %}

{% block scripts %}

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="{% static 'instructor/js/drag-and-drop.js' %}"></script>

{% endblock scripts %}