{% extends "base.html" %}
{% load static %}

{% block title %}Módulos de {{ course.title }}{% endblock title %}

{% block custom_styles %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/instructor_styles.css' %}">
{% endblock custom_styles %}

{% block content %}

  <div class="layout">
    {% include "includes/sidebar_instructor.html" %}
    <div class="main-content">
      {% include "includes/header_instructor.html" %}

      <main>

        <h2 class="form-title">Módulos de {{ course.title }}</h2>
        <div class="add-new-course">
          <a href="{% url 'instructor:module_create' slug=course.slug %}">Agregar módulo</a>
        </div>
        
        <ul class="drag-list" id="dd-list" data-url="{% url 'instructor:module_order' %}" data-csrf="{{ csrf_token }}">
          
          {% for module in modules %}
            <li class="drag-item" data-id='{{module.id}}' style="padding: 1rem;">
              <strong>{{ module.title }}</strong>
              <div class="actions">
                <a href="{% url 'instructor:content_list' module_id=module.id %}"><i class="fa-solid fa-eye"></i>Ver contenido</a>
                <a href="{% url 'instructor:module_edit' pk=module.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url 'instructor:module_delete' pk=module.id %}"><i class="fa-solid fa-trash"></i></a>
              </div>
            </li>

          {% empty %}

            <li>No hay módulos aún.</li>

          {% endfor %}
                      
        </ul>
        
      </main>

    </div>

  </div>

{% endblock content %}

{% block scripts %}

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="{% static 'instructor/js/drag-and-drop.js' %}"></script>

{% endblock scripts %}